# This analysis is for 1009 Deloitte scraped Glassdoor reviews.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dte_whole_df = pd.read_csv("deloitte_reviews.csv")
dte_whole_df.head()

,date,employee_title,location,employee_status,review_title,years_at_company,helpful,pros,cons,advice_to_mgmt,rating_overall,rating_balance,rating_culture,rating_career,rating_comp,rating_mgmt
0,2019-03-14,Technology Consultant,NaN,Current Employee,Good starting job,More than 3 years,0,Great benefits\nAbility to change projects and...,"Hit or miss with teams, coworkers, job respons...",NaN,5.0,4.0,4.0,5.0,5.0,4.0
1,2014-08-04,AMS Associate,"Boston, MA",Former Employee,Great Place to start your career - Carefully r...,More than a year,0,These folks know exactly what they are doing. ...,"Work-life balance can become poor, especially ...",I have high regards for the Senior Management ...,5.0,2.0,5.0,4.0,4.0,5.0
2,2019-04-15,Audit Senior,NaN,Former Employee,Good Launching Pad,More than a year,0,Deloitte was a very good place to start my car...,Depend on recent college grad for cheap and di...,NaN,4.0,3.0,4.0,5.0,3.0,4.0
3,2019-04-09,Audit Senior Assistant,"Tampa, FL",Former Employee,"Great experience, resume builder, awesome peop...",More than a year,0,-Learn a lot in a short period\n-Great benefit...,-Working 55+ hours at least for the majority o...,Invest in your people and take care of them. M...,4.0,3.0,4.0,5.0,4.0,4.0
4,2019-04-11,Senior Consultant,"Los Angeles, CA",Current Employee,SC,More than 5 years,0,Different projects; travel; multiple roles,Insane working hours w/ people who work non-st...,NaN,4.0,3.0,3.0,4.0,5.0,3.0

In [3]:
# Columns
dte_whole_df.columns

Index(['date', 'employee_title', 'location', 'employee_status', 'review_title',
       'years_at_company', 'helpful', 'pros', 'cons', 'advice_to_mgmt',
       'rating_overall', 'rating_balance', 'rating_culture', 'rating_career',
       'rating_comp', 'rating_mgmt'],
      dtype='object')

In [4]:
# Excluding useless columns
dte_df = dte_whole_df[['date', 'employee_title', 'location', 'review_title', 'years_at_company', 'pros', 'cons', 'advice_to_mgmt']]
dte_df.head()

,date,employee_title,location,review_title,years_at_company,pros,cons,advice_to_mgmt
0,2019-03-14,Technology Consultant,NaN,Good starting job,More than 3 years,Great benefits\nAbility to change projects and...,"Hit or miss with teams, coworkers, job respons...",NaN
1,2014-08-04,AMS Associate,"Boston, MA",Great Place to start your career - Carefully r...,More than a year,These folks know exactly what they are doing. ...,"Work-life balance can become poor, especially ...",I have high regards for the Senior Management ...
2,2019-04-15,Audit Senior,NaN,Good Launching Pad,More than a year,Deloitte was a very good place to start my car...,Depend on recent college grad for cheap and di...,NaN
3,2019-04-09,Audit Senior Assistant,"Tampa, FL","Great experience, resume builder, awesome peop...",More than a year,-Learn a lot in a short period\n-Great benefit...,-Working 55+ hours at least for the majority o...,Invest in your people and take care of them. M...
4,2019-04-11,Senior Consultant,"Los Angeles, CA",SC,More than 5 years,Different projects; travel; multiple roles,Insane working hours w/ people who work non-st...,NaN

In [5]:
# Checking for non-Nan values
filtered_dte_df = dte_df.dropna()
filtered_dte_df.count()

date                153
employee_title      153
location            153
review_title        153
years_at_company    153
pros                153
cons                153
advice_to_mgmt      153
dtype: int64

### Notes
* Useful columns for building dashboard: date, employee_title, location, years_at_company
* Useful for sentiment analysis: Combine review_title, pros, cons and advice_to_mgmt columns into one column and then perform this.